node_modules/**
.idea
cypress/videos
*.svg
*.svg
*.svg
cypress/support/downloads/metamask/images/contract/atrilast.svg
cypress/support/downloads/metamask/images/contract/avaluse.svg
cypress/support/downloads/metamask/images/contract/bitclave.svg
cypress/support/downloads/metamask/images/contract/brbc.svg
cypress/support/downloads/metamask/images/contract/bYFL.svg
cypress/support/downloads/metamask/images/contract/crust.svg
cypress/support/downloads/metamask/images/contract/ddim.svg
cypress/support/downloads/metamask/images/contract/dlpducktoken.svg
cypress/support/downloads/metamask/images/contract/dmst.svg
cypress/support/downloads/metamask/images/contract/enigma.svg
cypress/support/downloads/metamask/images/contract/Eristica.svg
cypress/support/downloads/metamask/images/contract/fnt.svg
cypress/support/downloads/metamask/images/contract/IMP.svg
cypress/support/downloads/metamask/images/contract/ink_protocol.svg
*.svg
*.svg
*.svg
*.svg
cypress/support/downloads/metamask/images/contract/bitclave.svg
cypress/support/downloads/metamask/images/contract/atrilast.svg
cypress/support/downloads/metamask/images/contract/avaluse.svg
cypress/support/downloads/metamask/images/contract/bitclave.svg
cypress/support/downloads/metamask/images/contract/brbc.svg
cypress/support/downloads/metamask/images/contract/bYFL.svg
cypress/support/downloads/metamask/images/contract/crust.svg
cypress/support/downloads/metamask/images/contract/ddim.svg
cypress/support/downloads/metamask/images/contract/dlpducktoken.svg
cypress/support/downloads/metamask/images/contract/dmst.svg
cypress/support/downloads/metamask/images/contract/enigma.svg
cypress/support/downloads/metamask/images/contract/Eristica.svg
cypress/support/downloads/metamask/images/contract/fnt.svg
cypress/support/downloads/metamask/images/contract/IMP.svg
cypress/support/downloads/metamask/images/contract/ink_protocol.svg
cypress/support/downloads/metamask/images/contract/atrilast.svg
cypress/support/downloads/metamask/images/contract/avaluse.svg
cypress/support/downloads/metamask/images/contract/bitclave.svg
cypress/support/downloads/metamask/images/contract/brbc.svg
cypress/support/downloads/metamask/images/contract/bYFL.svg
cypress/support/downloads/metamask/images/contract/crust.svg
cypress/support/downloads/metamask/images/contract/ddim.svg
cypress/support/downloads/metamask/images/contract/dlpducktoken.svg
cypress/support/downloads/metamask/images/contract/dmst.svg
cypress/support/downloads/metamask/images/contract/enigma.svg
cypress/support/downloads/metamask/images/contract/Eristica.svg
cypress/support/downloads/metamask/images/contract/fnt.svg
cypress/support/downloads/metamask/images/contract/IMP.svg
cypress/support/downloads/metamask/images/contract/ink_protocol.svg
cypress/support/downloads/metamask/images/contract/iqeon.svg
cypress/support/downloads/metamask/images/contract/rfr.svg
cypress/support/downloads/metamask/images/contract/sYFL.svg
cypress/support/downloads/metamask/images/contract/xgg.svg
cypress/support/downloads/metamask/images/contract/YFL.svg
